@(message: String)

@main("Welcome to Play") {

    <p>Todo List app:</p>
    <ol>
        <li>- It must use the latest stable version of Play Scala.</li>
        <li>- It must store its data in PostgreSQL using Anorm.</li>
        <li>- It must allow me to create, edit, or delete todos.</li>
        <li>- It must allow me to check/uncheck a todo.</li>
        <li>- It must allow me to add comments to a todo.</li>
        <li>- It must have unit tests.</li>
        <li>- A frontend isn't necessary, as long as we can test it using something like Paw or Postman.</li>
        <li>- Deliver the code in a GitHub repository like before.</li>
    </ol>
    <br>
    <br>
    <br>
    <p>Possible improvements</p>
    <ol>
        <li>More validators</li>
        <li>Validation messages</li>
    </ol>

}
